.container {
    margin-top: 75px;
    margin-bottom: 190px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.number {
    display: flex;
    justify-content: center;
    min-width: 30px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}
